<p id="notice"><%= notice %></p>

<h1>Distribuidores</h1>
<br>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Razon social</th>
      <th>Rut</th>
      <th>Mail</th>
      <th>Telefono</th>
      <th>Ubicacion</th>
      <th>Descripcion</th>
      <th>Productos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distribuidors.each do |distribuidor| %>
      <tr>
        <td><%= distribuidor.Nombre %></td>
        <td><%= distribuidor.razonsocial %></td>
        <td><%= distribuidor.Rut %></td>
        <td><%= distribuidor.Mail %></td>
        <td><%= distribuidor.Telefono %></td>
        <td><%= distribuidor.Ubicacion %></td>
        <td><%= distribuidor.Descripcion %></td>
        <td><%= distribuidor.productos %></td>
        <td><%= link_to 'Mostrar', distribuidor, class:'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Editar', edit_distribuidor_path(distribuidor), class:'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Eliminar', distribuidor, class:'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar distribuidor', new_distribuidor_path, class:'btn btn-lg btn-info' %>
