<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @distribuidor.Nombre %>
</p>

<p>
  <strong>Razon social:</strong>
  <%= @distribuidor.razonsocial %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @distribuidor.Rut %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @distribuidor.Mail %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @distribuidor.Telefono %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @distribuidor.Ubicacion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @distribuidor.Descripcion %>
</p>

<p>
  <strong>Productos:</strong>
  <%= @distribuidor.productos %>
</p>

<%= link_to 'Editar', edit_distribuidor_path(@distribuidor), class:'btn btn-warning' %> 
<%= link_to 'Atras', distribuidors_path, class:'btn btn-lg btn-info' %>
