<%= form_for(@plato_pedido) do |f| %>
  <% if @plato_pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plato_pedido.errors.count, "error") %> prohibited this plato_pedido from being saved:</h2>

      <ul>
      <% @plato_pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :references %><br>
    <%= f.text_field :references %>
  </div>
  <div class="field">
    <%= f.label :refenreces %><br>
    <%= f.text_field :refenreces %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
