<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @plato_pedido.references %>
</p>

<p>
  <strong>Refenreces:</strong>
  <%= @plato_pedido.refenreces %>
</p>

<%= link_to 'Edit', edit_plato_pedido_path(@plato_pedido) %> |
<%= link_to 'Back', plato_pedidos_path %>
