<p id="notice"><%= notice %></p>

<p>
  <strong>Pedidos:</strong>
  <%= @plato_pedido.pedidos %>
</p>

<p>
  <strong>Plato:</strong>
  <%= @plato_pedido.plato %>
</p>

<%= link_to 'Edit', edit_plato_pedido_path(@plato_pedido) %> |
<%= link_to 'Back', plato_pedidos_path %>
