<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @pedido.rut %>
</p>

<p>
  <strong>Mesa:</strong>
  <%= @pedido.mesa %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pedido.fecha %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
