<p id="notice"><%= notice %></p>

<h1>Empleados</h1>
<br>
<table  class="table table-condensed" >
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Rut</th>
      <th>Sueldo</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Cargo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.name %></td>
        <td><%= empleado.age %></td>
        <td><%= empleado.rut %></td>
        <td><%= empleado.sueldo %></td>
        <td><%= empleado.email %></td>
        <td><%= empleado.telefono %></td>
        <td><%= empleado.cargo %></td>
        <td><%= link_to 'Mostar', empleado, class:'btn btn-success btn-sm'%></td>
        <td><%= link_to 'Editar', edit_empleado_path(empleado), class:'btn btn-warning btn-sm'%></td>
        <td><%= link_to 'Eliminar', empleado, class:'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar empleado', new_empleado_path , class:'btn btn-lg btn-info'%>
