<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @empleado.age %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @empleado.rut %>
</p>

<%= link_to 'Editar', edit_empleado_path(@empleado) %> |
<%= link_to 'Volver', empleados_path %>
