<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.name %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @empleado.age %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @empleado.rut %>
</p>

<p>
  <strong>Sueldo:</strong>
  <%= @empleado.sueldo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empleado.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empleado.telefono %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @empleado.cargo %>
</p>

<%= link_to 'Editar', edit_empleado_path(@empleado), class:'btn btn-warning'%> 
<%= link_to 'Atras', empleados_path, class:'btn btn-lg btn-info'%>
