<%= form_for(@producto_plato) do |f| %>
  <% if @producto_plato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto_plato.errors.count, "error") %> prohibited this producto_plato from being saved:</h2>

      <ul>
      <% @producto_plato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :producto_id %><br>
    <%= f.text_field :producto_id %>
  </div>
  <div class="field">
    <%= f.label :plato_id %><br>
    <%= f.text_field :plato_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
