<p id="notice"><%= notice %></p>

<h1>Listing Producto Platos</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Plato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producto_platos.each do |producto_plato| %>
      <tr>
        <td><%= producto_plato.producto %></td>
        <td><%= producto_plato.plato %></td>
        <td><%= link_to 'Show', producto_plato %></td>
        <td><%= link_to 'Edit', edit_producto_plato_path(producto_plato) %></td>
        <td><%= link_to 'Destroy', producto_plato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto plato', new_producto_plato_path %>
