<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @producto_plato.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @producto_plato.references %>
</p>

<%= link_to 'Edit', edit_producto_plato_path(@producto_plato) %> |
<%= link_to 'Back', producto_platos_path %>
