<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @producto_plato.producto %>
</p>

<p>
  <strong>Plato:</strong>
  <%= @producto_plato.plato %>
</p>

<%= link_to 'Edit', edit_producto_plato_path(@producto_plato) %> |
<%= link_to 'Back', producto_platos_path %>
