<p id="notice"><%= notice %></p>

<h1>Listing Compras</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Distribuidor</th>
      <th>Fecha compra</th>
      <th>Fecha entrega</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.producto %></td>
        <td><%= compra.distribuidor %></td>
        <td><%= compra.fecha_compra %></td>
        <td><%= compra.fecha_entrega %></td>
        <td><%= link_to 'Show', compra %></td>
        <td><%= link_to 'Edit', edit_compra_path(compra) %></td>
        <td><%= link_to 'Destroy', compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compra', new_compra_path %>
